<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "Http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatisplus.demo.mapper.UserMapper">

<!--    全路径  -->
<!--    <select id="findById" resultType="com.zookeeper.demo.domain.User">-->
<!--        select * from tb_user where id = #{id}-->
<!--    </select>-->

    <select id="findById" resultType="user">
        select * from tb_user where id = #{id}
    </select>



</mapper>
